#pregame-container {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    text-align: center;
}

#blue-team-container, #orange-team-container {
    width: 20%;
}

.blue-ready::after {
    content: " > READY"
}

.orange-ready::before {
    content: " READY < "
}

.roster-hub::before {
    content: "• ";
}
.roster-hub::after {
    content: " •";
}
.roster-hub {
    font-weight: bolder;
}
