#sector-info {
  height: 100%;
  text-align: center;
  z-index: 0;
  width: 100%;
}

#player-data-entry {
  height: 40%;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 2vh;
}

#sector-area {
    display: flex;  
    align-items: center;
    margin-bottom: 1vh;
    background-color: #222;
    padding: 1vh 1vh 1vh 1vh;
  }
  
.sector-label {
  width: 40%;
  position: relative;
  background-color: black;
  margin-right: 1vh;
  border: 1px solid #333;
}

.sector-info-label {
  position: absolute;
  top: 0.2vh;
  left: 0.5vh;
  font-size: 1.6vh;
}

.sector-data {
  position: relative;
  top: 1vh;
  line-height: 6vh;
  font-size: 2.4vh;
}

#leave-button {
  width: 20%;
}

/* .sector-info-label {
  width: 6%;
    text-align: center;
    font-size: 1.8vh;
  } */

/* .sector-data {
  background-color: #111;
  margin: 0px 2vw 0px 2vw;
  letter-spacing: 1px;
  line-height: 5vh;
  font-size: 2.2vh; 
} */

/* #player-name {
  width: 40%;
} */
  
/* #sector-name {
  width: 40%;
} */

.bad-response {
  margin-top: 1vh;
  border-top: 1px solid rgb(140, 50, 50);
  border-bottom: 1px solid rgb(140, 50, 50);
  animation: fadeinout 2s linear forwards;
  opacity: 0;
  background-color: rgb(255, 95, 95);
  color: white;
  font-size: 2.4vh;
}

@keyframes fadeinout {
  10% { opacity: 0.8; }
  80% { opacity: 0.8; }
}

#team-selection {
  margin-bottom: 2vh;
}

.entry-prompt {
  font-size: 2.4vh;
}

.team-button {
  height: 8vh;
  width: 8vh;
  margin: 1vh;
  margin-bottom: 1vh;
  background-color: inherit;
  border: 1px solid #888;
  border-radius: 4vh;
  font-size: 2.4vh;
}

#role-selection {
  margin-bottom: 4vh;
}

#root-button {
  border-radius: 4vh;
  border-width: 2px;
}

#start-button {
  color: #ddd;
  width: 12vh;
  border-radius: 5px;
}


#user-list {
  width: 30%;
  border-left: 5px solid gray;
  height: 100vh;
  padding-top: 20px;
  text-align: center;
}

#connection-status::after {
  content: "CONNECTED";
}

#player-list {
  height: 60%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* margin: 10px; */
}

.team-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 2vw 1vh 2vw;
  color: #ddd;
}

.player-entry {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1vh;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.player-name {
  text-align: center;
  letter-spacing: 1px;
}

.team-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 15px;
}

.orange-team {
  border: 2px solid orange;
}

.blue-team {
  border: 2px solid #40acff;
}

.orange-source {
  border: 2px solid orange;
}

.blue-source {
  border: 2px solid #40acff;
}

.orange-ready {
  background-color: orange;
  border: 2px solid orange;
}

.blue-ready {
  background-color: #40acff;
  border: 2px solid #40acff;
}

@media only screen and (max-width: 800px) {

}